body{
  font-family: "Sriracha", cursive;
  background-color: #F79696;
  border: 7px dotted #82BFD1;
}
.container-fluid{
  padding-top:150px;
  padding-bottom: 150px;
  background-color: #F79696;
}
.col{
  background-color: #F7F789;
  border:3px solid #82BFD1;

}
/* .border{
  border: 3px solid #82BFD1;
} */
.header{
  color: #82BFD1;
}
.subheader{
  color:#F79696;
}
.navbar{
  background-color: #F7F789;
  border: 2px solid #36414D;
  color: #82BFD1;
  position: sticky;
  top: 0;
}
.nav-link{
  color: #82BFD1;
}
.about-container{
  background-color: #F79696;
}
.text-custom-color {
  color: #82BFD1;
}
.text-custom-shadow {
  text-shadow: 2px 2px 5px #F7F789;
}

.text-justify {
  text-align: justify;
}
.text-center{
  text-align: center;
}
.header {
  text-shadow:2px 2px 5px #36414D
}
.subheader {
  text-shadow:2px 2px 5px #36414D
}
.border-custom-shadow{
  color: #36414D;
}
.education{
  background-color: #82BFD1;
  border: 2px solid #36414D;
}
.border-left-custom {
  border-left: 8px solid #F79696;
}
.circle{
  background-color: #F7F789;

}
.circle h3{
  text-shadow:2px 2px 5px #36414D;
  color: #F79696;

}
.skills{
  background-color: #82BFD1;
  border: 2px solid #36414D;
}
.skills h1{
  color: #36414D;
  text-shadow: 2px 2px 5px #F7F789;
}
.skapon{
  background-color: #82BFD1;
}
.portfolio h1{
  color: #82BFD1;
  text-shadow:2px 2px 5px #36414D;
  
}
.contact h1{
  color: #82BFD1;
  text-shadow:2px 2px 5px #36414D;

}
.contact{
  border: 2px solid black;

}